.start-stop {
  background-color: white;
  width: 100px;
  border-radius: 50px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.reference-node {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.IF-node-wrapper {
  width: 140px;
  height: 140px;
  background-color: white;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.IF-node {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  /* restores normal orientation */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.IF-node input {
  text-align: center;
  width: 95%
}

.IF-node label {
  padding: 2px;
}


.IO-node {
  font-size: 12px;
  width: 120px;
  padding: 10px;
  height: 20px;
  background: #F7F7F7;
  clip-path: polygon(10% 0%,
      /* top-left */
      100% 0%,
      /* top-right */
      90% 100%,
      /* bottom-right */
      0% 100%
      /* bottom-left */
    );
  text-align: center;
}
